html{
    scroll-behavior: smooth;
}

table, td, th{
    border-collapse: collapse;
    width: 1300px;
    background-color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color:#54317d;
    justify-content: center;
    align-items: center;
    display: flex;
}

#container{
    margin-top: 50px;
    margin-bottom:100px;
    border: 5px solid black;
}

#header{
    height: 150px;
}

#titleText{
    text-align: center;
    height: 70px;
    background-color: #f2cca1;
}

.categories{
    text-align: center;
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 433px;
    padding-bottom:20px;
}

.categoryTitles{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#titleText{
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#footer{
    text-align: center;
    height: 100px;
}

img{
    transition: transform .2s;
}

img:hover{
    transform: scale(1.1);
}

#footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

#backToTop{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
}

#backToTop:hover{
    color: white;
    background-color:black;
    border: 2px solid white;
}

#logo{
    transition: none;
    transform: none;
}


