html{
    scroll-behavior: smooth;
}

table, th, td{
    border-collapse: collapse;
    width: 1300px;
    background-color: white;
}

body{
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    background-color: #54317d;
}

#USMImage{
    height: 150px;
}

#title{
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    height: 70px;
    background-color: #f2cca1;
}

#footer{
    text-align: center;
    height: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: white;
}

.bookTitles{
    text-align: center;
    padding: 0px;
    align-items: center;
    justify-content: center;
    width: 433px;
    padding-bottom:20px;
}

#container{
    margin-top: 50px;
    margin-bottom:100px;
    border: 5px solid black;
}

.titles{
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#backToTop{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 7px;
    border-radius: 15px;
}

#backToTop:hover{
    color: white;
    background-color:black;
    border: 2px solid white;
}

img{
    transition: .2s ease;
}

.container:hover img{
    opacity: .2;
}

a.preview{
    opacity: 0;
    position: relative;
    bottom: 150px;
    background-color: green;
    color: white;
    height: 50px;
    width: 100px;
    border: none;
    outline: none;
    border-radius: 25px;
    transition: .2s ease;
    padding: 10px 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.container:hover a.preview{
    opacity: 1;
}

.container{
    height: 270px;
    width: fit-content;
    position: relative;
    left: 125px;
}




